
.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.violet {
    background-color: violet;
}

.gold {
    background-color: gold;
}

.d-inline {
    display: inline-block;
}