
.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.green:hover {
    background-color: darkgreen;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.violet {
    background-color: violet;
}

.gold {
    background-color: gold;
}

.d-inline {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.psevdo-input:hover {
    background-color: red;
    color: blue;
}

.psevdo-input:first-child {
    background-color: violet;
    color: green;
}

.psevdo-input:not(.bad-psevdo) {
    border-radius: 8px;
}

.psevdo-input:last-child {
    border-radius: 8px;
}

.bad-psevdo::before {
    content: '🎮 ';
}